html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Quicksand', sans-serif;
  }
}


@layer utilities {
  @keyframes wave {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
  }

  .animate-wave {
    animation: wave 8s ease-in-out infinite;
  }
}
